/*BEGIN PS4 White Controller Styling*/
.custom.controller.ds4.white {
    background-image: url(base.svgz);
}

.custom.ds4.white.disconnected {
    background: url(disconnected.svgz);
}

.custom.ds4.white .trigger {
    background-image: url(triggers.svgz);
}

.custom.ds4.white .bumper {
    background-image: url(bumper.svgz);
}

.custom.ds4.white .touchpad.pressed {
    background-image: url(touchpad.svgz);
}

.custom.ds4.white .back, .ds4 .start {
    background-image: url(start.svgz);
}

.custom.ds4.white .button {
    background-image: url(face.svgz);
}

.custom.ds4.white .stick {
    background-image: url(sticks.svgz);
}

.custom.ds4.white .face {
    background-image: url(dpad.svgz);
}

/*END PS4 White Controller Styling*/